:root {
  color-scheme: light;
  --font-display: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

html,
body,
#root {
  min-height: 100%;
  background: #edeae2;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
